* {
  margin: 0 !important; /* CSS reset */
	padding: 0;
	/* border: 0 !important; */
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  box-sizing: border-box;


}

#container {
  display: flex;
  flex-direction: column;
  font-size: 15px;
line-height: 1.5;
}


#main-page-container {
  display: flex;
}

#page-contents {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f1f1f1 !important;
}

#boxes-container {
  
  width: auto;
  height: 25vh;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
}

  
#data-lists-container {
  
  width: auto;
  height: 70vh;
  justify-content: space-evenly;
  display: flex;
}

  



@media only screen and (max-device-width: 480px) {
  #container {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
  }

  #boxes-container {
  
    width: 100%;
    height: 25vh;
    flex-direction: row;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
  }
  
  #data-lists-container {
  
    width: 100%;
    height: min-content;
    flex-direction: column;
  }
  
}