#pie-chart-legend {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.data-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10%;
    width: fit-content;
    height: 80%;
    background-color: #ccc;
    border-radius: 10%;
    box-shadow: 10px 5px 5px rgb(145, 137, 137);
    padding: 1%;

  }


  #titles-distribution-container{
      display: flex;
      flex-direction: column;
      width: 30%;
      justify-content: space-between;
      padding-bottom: 5%;

  }

    h3 {
        position: relative;
        top: 0px;
        font-weight: bold;
    }
  #pie-chart-container {
      width: 70%;
      height: 70%;
      max-width: 60%;
      display: flex; 
  }

  #pie-chart-popup{
      position: absolute;
      margin-top: -5%;
      bottom: 0x;
      width: 50%;
      height: 10%;
      background-color: red;
        display: none;
    }