
#container {
  margin: 1rem;
}

.items {
  margin-bottom: 1rem;
}

.next {
    position: relative;
    z-index: 10;
}

.paginate-component{
    display: flex;
    justify-content: space-between;

   
}